# General notes

notes.txt

# Java

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
# *.war
# *.ear

# Javadoc must not be committed to master, only to gh-pages
javadoc/

IPAddress/bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JS

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
